<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <!-- Tu dict principal original -->
    <key>CFBundleDevelopmentRegion</key>
    <string>$(DEVELOPMENT_LANGUAGE)</string>
    <key>CFBundleDisplayName</key>
    <string>Hulp</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>Hulp</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>$(FLUTTER_BUILD_NAME)</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>hulp</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>com.googleusercontent.apps.130601284748-9dvnm40t4332h9anrvm0bdpns34mni1d</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>fb4328481204143706</string>
        </array>
      </dict>
    </array>
    <key>FlutterDeepLinkingEnabled</key>
    <true/>
    <key>CFBundleVersion</key>
    <string>$(FLUTTER_BUILD_NUMBER)</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>NSCameraUsageDescription</key>
    <string>Se requiere la cámara para tomar fotos y enviarlas por el chat con los proveedores</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>Se requiere el micrófono para grabar el audio de los videos que envías por el chat</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Se requiere la galería para elegir imágenes y enviarlas por el chat con los proveedores</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Se usa tu ubicación para situar el mapa donde estás al indicar la dirección del servicio que solicitas</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>Se usa tu ubicación solo mientras tienes la aplicación abierta, para situar el mapa donde estás al indicar la dirección del servicio. La aplicación no consulta tu ubicación en segundo plano.</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>Se usa tu ubicación solo mientras tienes la aplicación abierta, para situar el mapa donde estás al indicar la dirección del servicio. La aplicación no consulta tu ubicación en segundo plano.</string>
    <key>NSUserNotificationUsageDescription</key>
    <string>Habilite las notificaciones para recibir información sobre sus servicios solicitados.</string>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>UIMainStoryboardFile</key>
    <string>Main</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>
    <key>UIBackgroundModes</key>
    <array>
      <string>remote-notification</string>
    </array>
    <!-- Facebook keys -->
    <key>FacebookAppID</key>
    <string>4328481204143706</string>
    <key>FacebookClientToken</key>
    <string>f4a348600c6845caa2c4c42605e68337</string>
    <key>FacebookDisplayName</key>
    <string>Hulp</string>
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>fbapi</string>
      <string>fb-messenger-share-api</string>
    </array>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
  	<key>GMSApiKey</key>
	<string>$(MAPS_API_KEY)</string>
</dict>
</plist>